[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
optom-tools = { editable = true, path = "." }
pydantic = "*"
rich = "*"
typing-extensions = "*"

[dev-packages]
pytest = "*"
mypy = "*"
flake8 = "*"
pytest-cov = "*"
pytest-xdist = "*"
mkdocs-material = "*"
mkdocstrings = { extras = ["python"], version = "*" }
ipython = "*"
mkdocs-autorefs = "*"

[requires]
python_version = "3.7"

[scripts]
test = "pytest"
