---
name: Docs
on:
  - push
  - pull_request

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - id: checkout
        name: Document Deploy
        uses: actions/checkout@v3
        with:
          submodules: "recursive"
          fetch-depth: 0

      - id: install-python
        name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          cache: pipenv

      - id: install-pipenv
        name: Install pipenv
        run: |
          python -m pip install --upgrade --no-cache-dir pip
          python -m pip install --no-cache-dir pipenv
        shell: bash

      - id: install-dependencies
        name: Install dependencies
        run: |
          pipenv install --system --dev --python '3.10' --skip-lock

      - id: build-site
        name: Build site
        run: mkdocs build

      - id: deploy-docs
        name: Deploy Docs
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site
